<!DOCTYPE html>
<html>
    <head>
        <title>微信活动平台</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="__PUBLIC__/Css/header.css" rel="stylesheet" media="screen">
        <script type="text/javascript" src="__PUBLIC__/Js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Js/bootstrap.js"></script>
    </head>
    <body style="font-family:Microsoft YaHei;">
        <iframe style="display:none" id="ifm" name="ifm"></iframe>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" rel="tipsy" href="{:U('Index/index')}">CodeJam</a>
                   <ul class="nav">
                     <li class="">
                       <a href="{:U('Index/about')}">关于</a>
                     </li>
                     <li class="">
                       <a href="{:U('Content/chat')}">聊天室</a>
                     </li>
                     <li class="">
                       <a href="{:U('Content/submit')}">签到</a>
                     </li>
                     <li class="">
                       <a href="{:U('Content/cj')}">抽奖</a>
                     </li>
                   </ul>
                </div>
            </div>
        </div>