 <include file="Public:header" />
  		<div class="container">
 		<h2>关于本网站</h2>
 		<p class="alert alert-success">本站的维护者为<a href="http://www.imsuzie.com/" target="_blank">酥西黄</a>,他在杭州的加班圣地实习,所以这个网站版本更新的会很慢了.如果你愿意贡献代码，本项目托管于Github,地址在<a href="http://github.com/suziewong/news">这里</a>.</p>
 		<h2>本站使用说明</h2>
 		<div class="alert alert-info">
			<ol>
				<li>功能一直是beta版本,如果您需要，可以自己定制化修改,或者提交issues给我.</li>
				<li>本人曾经做过微信公众账号,目前不过3000个人关注,是<a href="http://help.izjut.com/" target="_blank" >工大助手</a></li>
                <li>因为做微信开发，曾近和十几所大学的微信开发者有过交流，也有一定的开发和运营经验，欢迎和我交流：）</li>
			</ol>
 		</div>
 	</div>
     <footer class="footer">
         <div class="container-fluid">
             <p><font color="gray">
             Designed and built by  
             <a href="http://www.imsuzie.com">酥西黄</a></br>
             Powerd by 
             <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>
             , and 
             <a href="http://thinkphp.cn">ThinkPHP</a></br>
            </br></br></font>
         </p>
         </div>
     </footer>

     
     </body>
     <style>
     	.alert {
     		margin-top: 20px;
     		border-radius:5px;
     		-webkit-border-radius:5px;
     	}
     	.alert li{
     		font-size: 16px;
     		line-height: 20px;
     	}
     </style>
</html>