   <include file="Public:header" />
        <!--导航条结束-->
        <!--文件列表-->
        <div class="container">
             <div class="row">
            
            <div class="span6">
            <!--Body content-->
            <h1>CodeJam-黑客马拉松</h1>
            <img src="__UPLOAD__/codejam.jpg"/>
            </div>
            <div class="span6">
                <h1>微信活动平台</h1>
                    <ol>
                        <li>活动发布</li>
                        <li>微信二维码扫描签到</li>
                        <li>微信墙聊天</li>
                        <li>微信抽奖。</li>
                        <li>如果能推送的我们可以做些什么？</li>
                    </ol>
                <p>
                    <h2>作者</h2>
                    <ol>
                        <li>郑洋飞</li>
                        <li>@酥西黄</li>
                        <li>http://www.imsuzie.com</li>
                        <li>浙江工业大学</li>
                    </ol>
                </p>
            </div>
        </div>
  </div>
        </div>
        </div>
        <!--文件列表结束-->
        <!--Footer-->
        <footer class="footer">
            <div class="container-fluid">
                <p><font color="gray">
                Designed and built by  
                <a href="http://www.imsuzie.com">酥西黄</a></br>
                Powerd by 
                <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>
                , and 
                <a href="http://thinkphp.cn">ThinkPHP</a></br>
               </br></br></font>
            </p>
            </div>
        </footer>
    </body>
</html>